@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #000000;
  }
}

@media (hover: none) {
  /* Ceci ne s'applique qu'aux appareils sans capacité de survol (tactiles) */
  .touch-long-press {
    touch-action: none; /* Empêche le défilement pendant un long press */
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.main-content-with-sidebar {
  margin-left: 256px; /* correspond à la largeur de la sidebar */
}